<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

</head>

<body>
    <br />
    <h2>
        <strong>Deliver</strong>
    </h2>
    <br />

    <div class="container">
        <div class="table-responsive">
            <table class="table table-dark table-bordered ">
                <thead>
                    <tr>
                        <th>
                            <strong>Price</strong>
                        </th>
                        <th>
                            <strong>Date</strong>
                        </th>
                        <th>
                            <strong>Direction</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Delivers}}
                    <tr>
                        <td>{{price}}</td>
                        <td>{{day}}</td>
                        <td>{{direction}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
</body>

</html>